#reg h1{
    font-size: 48px;
    color: rgb(6, 106, 117);
    padding: 2px  0 10px 0;
    font-family: 'FranchiseRegular' , 'Arial Narrow' ,'Arial',sans-serif;
    font-weight: bold;
    text-align: center;
    padding-bottom: 30px;
}
#reg h1{
    background:
    -webkit-repeating-linear-gradient( -45deg,
    rgb(18, 83, 93) ,
    rgb(18, 83, 93) 20px
    rgb(64, 111, 118) 20px
    rgb(64, 111, 118) 40px
    rgb(18, 83, 93) 40px);
-webkit-backround-clip: text;
}
#reg h1:after{
    content:' ';
    display: block;
    width: 100%;
}